body {
    background-color: rgb(223, 220, 206);
}
/*nav*/
#nav-header {
    background-color: rgb(255, 139, 93);
    padding-bottom: 0%;
}
.navbar-brand {
    margin-left: 20px;
}
#nav-botton {
    background-color: rgb(233, 167, 141);
}
.collapse.navbar-collapse .navbar-nav .nav-item {
    background-color: rgb(231, 230, 148);
    width: 100%;
    border: 1px solid black;
}
.collapse.navbar-collapse .navbar-nav .nav-item:hover  {
    background-color: rgb(221, 219, 96);
    border: 2px solid rgb(192, 107, 50);
}
/*END nav*/
#menuTitle{
    margin-bottom: 30px;
}
.food {
    margin: 15px;
    padding: 10px 20px 5px 20px;
    background-color: rgb(228, 201, 156);
    height: 1000px;
}

@media (max-width: 575px) {
    .food {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }
}